{% extends "base.html" %}
{% block title %}Ask a Question - Ask Hub{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <h2 class="mb-4">Ask a Question</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Submit Question</button>
            <a href="{% url 'home' %}" class="btn btn-secondary ms-2">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
